@font-face {
  font-family: 'montserrat';
  font-weight: 800;
  src: url('../fonts/Montserrat-Bold.ttf') format('ttf'),
       url('../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf') format('ttf'),
       url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/Roboto-Bold.ttf') format('ttf'),
       url('../fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('../fonts/Roboto-Black.ttf') format('ttf'),
       url('../fonts/Roboto-Black.ttf') format('truetype');
}